#howitworks { }

.slides { height:509px;width:100%;position:relative;overflow:hidden; }
	.slide { position:absolute;top:0;left:0;width:100%;height:100%;z-index:1;background-repeat:no-repeat;background-size:100%; }
	.slide-previous { right:0;left:auto;z-index:2; }
	.slide-active { z-index:3; }
	
	.slide-1 { background-image:url(../images/howitworks-1.png); }
	.slide-2 { background-image:url(../images/howitworks-2.png); }
	.slide-3 { background-image:url(../images/howitworks-3.png); }
	.slide-4 { background-image:url(../images/howitworks-4.png); }
	
	.slide-ctrls { text-align:right; }
	.slide-indicators { display:inline-block; }
		.slide-indicators li { display:inline-block;height:8px;width:8px;background-color:#aaa;border-radius:4px; }
		.slide-indicators .slide-indicator-active { background-color:#666; }
	.slide-prev, .slide-next { display:inline-block;margin-left:4px;width:0;height:0;border-top:4px solid transparent;border-bottom:4px solid transparent; }
	.slide-prev { border-right:8px solid #aaa; }
	.slide-next { border-left:8px solid #aaa; }
	.slide-prev:hover, .slide-next:hover { border-right-color:#666;border-left-color:#666; }