.k-kit-title-label h1 { display:inline-block;margin-left:-8px;margin-bottom:0;padding:0 8px 5px;border:1px solid transparent;color:#93d050;text-shadow:1px 1px 1px rgba(0, 0, 0, 0.1); }
	.editable .k-kit-title-label h1:hover { background-color:rgba(255, 243, 176, 0.1);border-color:#ccc; }
	
.k-kit-title-input { display:none; }
	.k-kit-title-input input { padding:0 8px;height:41px;font-size:24px;font-weight:bold; }

.k-kit-add { margin-top:1.4em;padding:1em;background-color:#ddd;border:1px solid #ccc; }
	.k-kit-add h4 { margin-bottom:0px;line-height:normal; }
	.k-kit-add .row { margin-top:8px;margin-bottom:8px; }
	.k-kit-add a { margin-right:8px; }
	.k-kit-add .cancel { font-size:11px; }

.input-prepend input.span2 { width:64px; }

.k-kit-items { margin-top:1.4em; }
	.k-kit-items-col1 { width:162px; }
	.k-kit-items-col2 { width:42px; }
	.k-kit-items-col3 { width:214px; }
	.k-kit-items-col4 { width:100px; }
	.k-kit-items-col5 { width:auto; }
	
	.k-kit-items td { font-size:0.9em; }
	td.k-kit-items-name { font-weight:bold;font-size:1.1em;color:#555; }
	.k-kit-items-url { max-width:214px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis; }

	.k-kit-items-anchor { position:relative; }
		.k-kit-ctrls { display:none;position:absolute;top:-11px;left:100%;margin-left:6px;padding:0 8px;height:37px;line-height:34px;background-color:#f5f5f5;border:1px solid #ddd;border-left:0;white-space:nowrap; }
		.k-kit-ctrls .btn:first-child { margin-right:4px; }


input.error:-moz-placeholder { color:#bbb; }
input.error::-webkit-input-placeholder { color:#bbb; }

html, body { background-color:#777; }

#content { background-color:#eaeaea;border:1px solid #333; }

#newkit input { margin-right:8px;padding:10px 8px;font-size:16px; }
#newkit input, #newkit button { vertical-align:middle; }

