.k-kit-title-label h2 { display:inline-block;margin-left:-8px;padding:0 8px;border:1px solid transparent;color:#93d050;text-shadow:1px 1px 1px rgba(0, 0, 0, 0.1); }
	.k-kit-title-label h2:hover { background-color:rgba(255, 243, 176, 0.1);border-color:#ccc; }
	
.k-kit-title-input { display:none; }
	.k-kit-title-input input { padding:9px 8px;font-size:24px;font-weight:bold; }

.k-kit-add { margin-top:1.4em;padding:1em;background-color:#ddd;border:1px solid #ccc; }
	.k-kit-add h4 { margin-bottom:0px;line-height:normal; }
	.k-kit-add .row { margin-top:8px;margin-bottom:8px; }
	.k-kit-add a { margin-right:8px; }
	.k-kit-add .cancel { font-size:11px; }

.k-kit-items { margin-top:1.4em; }



html, body { background-color:#777; }

#content { background-color:#eaeaea;border:1px solid #333; }

#newkit input { margin-right:8px;padding:10px 8px;font-size:16px; }
#newkit input, #newkit button { vertical-align:middle; }

