.k-validation-msgs { position:fixed;top:40px;right:0;left:0;width:640px;margin:0 auto; }
	.k-validation-msgs .alert-message { margin-bottom:0;border-radius:0; }

html { height:100%; }

#content { margin-top:60px; }

	#content-inner { padding:2em; }