<% content_for :css do %>
	<%= include_stylesheets :all, :home, :media => "all" %>
<% end %>

<div id="home">
	<div id="home-diagram"></div>
	
	<div id="home-btns">
		<a href="/new" class="btn large primary">Try it out!</a>
		<a href="/howitworks" class="btn large info">Learn more</a>
	</div>
</div>

<% content_for :js do %>
	<%= include_javascripts :all %>
	<script>
		$(function() {
			Kitify.Manager().init();
		});
	</script>
<% end %>