<% content_for :css do %>
	<%= include_stylesheets :all, :media => "all" %>
<% end %>

<h1>About Kitify</h1>

<p>Do you write DIY instructions? Think of Kitify as an App Store for your kit ideas. You tell us what's needed to build your project and where to get it – we let people buy it from us and give you some of the revenue.</p>

<h4>How Kitify works</h4>
<p>For each item that's necessary to do your project, tell us what it is, where to get it, how many are needed, and the price. You can enter that data in the table below.</p>   
<p>We'll provide you a private link you can use to edit your instructions from any computer, and a public link you can use to show people the parts they'll need. We suggest you bookmark these, but we'll also try to save a list on your computer so you can get to them quickly.</p>

<h4>Questions or feedback?</h4>
<p>You can email us at justin (at) kitify (dot) com. We'd love to hear what you think! Or follow us on Twitter at <a href="http://twitter.com/getkitify">@getkitify</a>.</p>